@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
  }
  .position{
      position: center;
      width: 100px;
      height: 150px;
  }
  
  .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      margin-top: 27px;
      height: 65px;
      margin-left: 10px;
    
      .card {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  
  .text{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: white;
  }
  .text2{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: black;
  }
  
  .background1{
      background: linear-gradient(274.42deg, #7863FF 0%, #5940f8 124.45%);
      height: 70px;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
  
  }
  
  .chats{
      margin-top: 10px;
  
  }